<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Slaq - JS</title>
        <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';"/>
        <script type="application/javascript" src="login.js" defer></script>
        <link href="../style.css" rel="stylesheet">
    </head>
    <body>
        <form id="login">
            <div>
                <label for="name">Enter your name: </label>
                <input type="text" name="name" id="name" required>
            </div>

            <div>
                <label for="port">Enter your port: </label>
                <input type="number" name="port" id="port" required>
            </div>

            <div>
                <input type="submit" value="Login!">
            </div>
        </form>
    </body>
</html>