<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';"/>
    <title>Slaq - JS</title>
    <link href="../style.css" rel="stylesheet">
    <link href="./chat.css" rel="stylesheet">
</head>
<body>
<div class="chat__container">
    <div class="top_nav">
        <div class="greetings__container">
            <h3 id="greetings" class="greetings-name"></h3>
            <span class="greetings-connection"></span>
        </div>
        <span class="logout" id="logout">
        </span>
    </div>

    <div id="chat-window" class="chat-window"></div>

    <form id="send-chat" class="chat-box__container">
        <label for="chat-box"></label>
        <input type="text" name="chat-box" id="chat-box" class="chat-box__input">
        <input type="submit" value="submit" class="chat-submit__button">
    </form>
</div>
<script defer>
    require("../../parser")
    require("./renderer")
</script>
</body>
</html>